<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<!-- Elliot's SQL Server -->
		
		<add name="SQL"
			 connectionString="Server=195.62.221.62;Database=Ableworld;User Id=Elliot;Password=1234;"
			 providerName="System.Data.SqlClient" />	
		
	</connectionStrings>

	<appSettings>
		<!-- Example application settings: -->
		<add key="HeadOfficeIpAddress" value="195.62.221.62" />
		
		<add key="HourlyTaskName" value="Network Detector Hourly" />
		
		<add key="TcpPort" value="50550" />
		
		<add key="BananaGoatsBaseUrl" value="http://bananagoats.co.uk:50547/" />
		
		<add key="VersionNumber" value="Network Detector Update" />
		
		<add key="DansApp" value="Till Updater Update" />

		<add key="CallPopLite" value="Call Pop Lite Update" />
	</appSettings>
	
	
</configuration>