<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<!-- Elliot's SQL Server -->

		<add name="SQL"
			 connectionString="Server=195.62.221.62;Database=Ableworld;User Id=Elliot-Service;Password=Explosive-Unhappy-Rabbit-3;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />	
		
	</connectionStrings>

	<appSettings>
	
		<add key="HourlyTaskName" value="Network Detector Hourly" />		
		
		<add key="BananaGoatsBaseUrl" value="http://bananagoats.co.uk:50547/" />
		
		<add key="VersionNumber" value="Network Detector Update" />
		
		<add key="DansApp" value="Till Updater Update" />

		<add key="CallPopLite" value="Call Pop Lite Update" />

		<add key="SalesSheet" value="Sales Sheet Update" />		
		
	</appSettings>
	
	
</configuration>